<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../web/js/lib/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            window.__user = {{JSON.stringify(__page.user)}};
            var socket = io('http://bot.bao.nong600.com');
            socket.on('connect', function(){
                socket.emit('saveSocket', __user.id);
            });
            socket.on('message', function (data) {
                console.log(data);
                var customer = data.customer;
                var openId = customer.wx_openid;
                var li = $('#' + openId);
                if(li.length){
                    $('<span>').text(data.Content).appendTo($('#' + openId + 'chat'));
                    var chatPanel = $('#' + openId + 'chat:visible');
                    if(!chatPanel){
                        var msgNum = li.find('i .msgNum');
                        if(msgNum){
                            var num = parseInt(msgNum.text());
                            msgNum.text(num + 1);
                        }else{
                            msgNum = $('<i class="msgNum" style="width:50px; height:50px; background-color: red">1</i>')
                            msgNum.insertBefore(li.find('img'));
                        }
                    }
                } else {
                    li = $('<li></li>').attr('id', openId);
                    li.append($('<i class="msgNum" style="width:50px; height:50px; background-color: red">1</i><img width="100px" src='+ customer.wx_headimgurl+'>' + '<p>'+ customer.wx_nickname +'</p>'));
                    li.click(function(){
                        $(this).find('.msgNum').remove();
                        $('.chat').hide();
                        $('#' + openId + 'chat').show();
                        $('#openId').val(this.attr('id'));
                    });
                    $('#customerList').append(li);
                    var chatPanel = $('<div class="chat"></div>');
                    chatPanel.hide();
                    chatPanel.append($('<span>').text(data.Content));
                    chatPanel.appendTo($('.sessionList'));

                }

            });
            $('#send').onclick = function(){
                var msg = $('#msg').val();
                var openId = $('#openId').val();
                socket.emit('message', {msg: msg, openId: openId});
            }
        });
    </script>
</head>
<body>
    <ul id="customerList" style="fload: left; position: absolute; background-color: yellow; width: 300px; height: 600px">

    </ul>
    <div id="sessionPanel" style="margin-left: 400px; width: 500px; height: 600px; background-color:#80148b">
        <div id="sessionList">

        </div>
        <div style="position: fixed; margin-top: 500px;">
            <input id = 'msg' type="text"/><input type="button" value="Send" id="send"/>
        </div>
        <input id = 'openId' type="hidden">
    </div>
</body>
</html>