<table cellpadding="3" cellspacing="0" width="100%" border="0">
    <tr>
        <td height="30">Hi 小伙伴儿，</td>
    </tr>
    <tr>
        <td height="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点击以下链接即可导出活动“<%= name%>”的报名清单文件： </td>
    </tr>
    <tr>
        <td height="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<%= url%>" ><%= url%></a></td>
    </tr>
    <tr>
        <td height="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果点击链接无法访问，请将链接复制并粘贴至新的浏览器窗口中访问。 </td
    </tr>
    <tr>
        <td height="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;想组织活动、想找好玩的活动就来快乐种子吧！ </td>
    </tr>
    <tr>
        <td height="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="cid:00000001"></td>
    </tr>
</table>