<teacher-signup></teacher-signup>
<teacher-index></teacher-index>
<clazz-add></clazz-add>
<student-signup></student-signup>
<student-index></student-index>
<clazz-chat></clazz-chat>
<clazz-notifies></clazz-notifies>
{% if __app.settings.env.NODE_ENV === 'development' %}
<script src="/web/tag/teacher-signup.html" type="riot/tag"></script>
<script src="/web/tag/teacher-index.html" type="riot/tag"></script>
<script src="/web/tag/clazz-add.html" type="riot/tag"></script>
<script src="/web/tag/clazz-chat.html" type="riot/tag"></script>
<script src="/web/tag/clazz-notifies.html" type="riot/tag"></script>
<script src="/web/tag/clazz-notify.html" type="riot/tag"></script>

<script src="/web/tag/student-signup.html" type="riot/tag"></script>
<script src="/web/tag/student-index.html" type="riot/tag"></script>

<script src="/web/tag/clazz-card.html" type="riot/tag"></script>
<script src="/web/tag/footer-bar.html" type="riot/tag"></script>
{% endif %}
