<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>发现</title>
    <link href="../web/css/style.css" rel="stylesheet">
    <script src="../public/components/seajs/dist/sea.js"></script>
    <script src="../web/index.js"></script>
    <script type="text/javascript">
        window.__app = <%-JSON.stringify(__app)%>;
        window.__page = <%-JSON.stringify(__page)%>;
    </script>
</head>
<body>
<!--<div style="text-align: center;line-height: 200px;font-size:40px;vertical-align: middle;text-shadow: 0px 1px 0px white">-->
    <!--This is a introductory page for load static resources!-->
<!--</div>-->
<div id="wary">
<script type="text/javascript">
    window.onload = function(){
        //userAgentCheck
        seajs.use('/web/index.js',function(){
            var u = navigator.userAgent, app = navigator.appVersion;
            if(u.indexOf('Android') > -1 || u.indexOf('Linux') > -1){
                var link = document.createElement( "link" );
                link.type = "text/css";
                link.rel = "stylesheet";
                link.href = "/web/css/andriod.css";
                document.getElementsByTagName( "head" )[0].appendChild( link );
            }
            if(!!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)) {
                var link = document.createElement("link");
                link.type = "text/css";
                link.rel = "stylesheet";
                link.href = "/web/css/apple.css";
                document.getElementsByTagName("head")[0].appendChild(link);
            }
            //When static resource loaded
            //Add SPA tag -- to index page
            var link = document.createElement("script");
            link.src = "/web/js/app/tags.js";
            link.type = "riot/tag";
            document.querySelector('body').appendChild(link);
        });
    }
</script>
<%include index-tag.html%>
</body>
</html>