input[type='date']{
    /* input上移 */
    position:absolute;
    top:0px;
    opacity: 1;
}
/* 隐掉text 显示date */
#startTimetxt{
    display: none;
}
#endTimetxt{
    display: none;
}
input[attr='closingTime']{
    display: none;
}
#startTime{
    width:100%;
}
#endTime{
    margin-left:2%;
}
#startTimebtn{
    position: relative;
    width:38%;
}
#closingTime{
    margin-left:13px;
}
#birthday{position:absolute;top:0px;right:0px;z-index:100;height:37px;}
#birthdayTxt{
    display: none;
}
.funcheader li{
    line-height: 16px;
}
#editor{
    /*height: 300px;*/
}
.editorSubMenu{
    position: absolute;
    line-height: 10px;
    top: 40px;
    height: 36px;
    padding: 5px;
    border: 1px solid #C3C3C3;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(224, 224, 224);
}
.editorSubMenu>input{
    display: inline-block;
    width:36px;
    height:36px;
    border:none;
    border-radius: 5px;
    margin-right: 10px;

}
