<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/> 
<title>抢红包啦</title>  
<link href="/web/css/other.css" rel="stylesheet">
<script src="/public/components/zepto/zepto.min.js"></script>
</head>

<body>
<div id="wary" > 
     <div class="receive-red-envelope">
        <p><img src="/web/images/red-font.png" /></p>
        <img src="/web/images/red6.png" />
     </div>
</div> 
<script type="text/javascript">
    $(function(){ 
        $(".receive-red-envelope").height($(window).height()+"px"); 
    });
</script>
</body>
</html>
